{% extends "_layout-members" %}

{% set breadcrumb = [
	{ slug: 'members' },
	{ slug: 'academy' }
] %}

{% set categories = craft.categories.group('courseCategories').level(1) %}

{% block main %}


		<section class="gray">
			<div class="centered-colum">
				<div class="data-table">
					<table>
						<tbody>
							{% for cat in categories.all() %}
								{% if craft.entries.section('courses').relatedTo(cat).count %}
									{% set progress = craft.arc.getMemberCategoryProgress(cat) %}
									{% set course = craft.entries.section('courses').relatedTo(cat).one() %}
									<tr>
										{% if course.videoEmbedCode | trim | length %}
											<td class="icon">
												{% set projectId = course.videoEmbedCode | split('https://embed.vidello.com/') %}
												{% if projectId | length > 1 %}
													{% set projectId = projectId[1] | split('/') %}
													{% if projectId | length > 1 %}
														{% set projectId = projectId[0] %}
														{% set videoId = course.videoEmbedCode | split('https://embed.vidello.com/' ~ projectId ~ '/') %}
														{% if videoId | length >  1 %}
															{% set videoId = videoId[1] | split('/video/splash.jpg') %}
															{% if videoId | length >  1 %}
																{% set videoId = (videoId[0] | split('/video/splash.jpg'))[0] %}
																<a href="{{ course.url }}">
																	<img src="https://embed.vidello.com/{{ projectId }}/{{ videoId }}/video/splash.jpg" alt="{{ course.title }}">
																</a>
															{% endif %}
														{% endif %}
													{% endif %}
												{% endif %}
											</td>
										{% endif %}
										<td class="text">
											<a href="{{ course.url }}">
												<strong>{{ cat.title }}</strong>
												<p>{{ cat.briefDescription }}</p>
											</a>
											<div class="progress" data-progress="{{ progress }}">
												<div class="labels">
													<label>Progress</label>
													<label>{{ progress }}%</label>
												</div>
												<div class="pill">
													<div class="fill" style="right:{{ (100 - progress) }}%;"></div>
												</div>
											</div>
										</td>
										<td class="cta">
											<a class="btn" href="{{ course.url }}">{{ progress == 0 ? 'Start' : 'Continue' }}</a>
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</section>


{% endblock %}