{% extends "_layout-members" %}

{% set categories = craft.categories.group('courseCategories').level(1) %}

{% block main %}

	<section>
		{#<h6>Discord Server Connected - Welcome {{ arcMember.discordUsername }}!</h6>#}
		<h3>Video Course Categories:</h3>
		<dl class="course-list">
			{% for cat in categories.all() %}
				{% set course = craft.entries.section('courses').one() %}
				<dt>
					<a class="course-category" href="{{ course.url }}">
						{% if course.videoEmbedCode | trim | length %}
							{% set videoId = course.videoEmbedCode | split('https://embed.vidello.com/5347/') %}
							{% if videoId | length >  1 %}
								{% set videoId = videoId[1] | split('/video/splash.jpg') %}
								{% if videoId | length >  1 %}
									{% set videoId = (videoId[0] | split('/video/splash.jpg'))[0] %}
								{% endif %}
							{% endif %}
							<img src="https://embed.vidello.com/5347/{{ videoId }}/video/splash.jpg" alt="{{ course.title }}">
						{% endif %}
						<div>
							<span class="course-title">{{ cat.title }}</span>
							<br>
							<span class="course-date">{{ cat.briefDescription }}</span>
							<br>
							<span class="score">Your Progress: 80%</span>
							<br>
							<span class="btn small">Continue Course</span>
						</div>
						<span class="progress">
							80%
						</span>
					</a>
				</dt>
			{% endfor %}
		</dl>
	</section>

{% endblock %}