{% extends "_layout-members" %}

{% set headline = 'Academy' %}
{% set arcMember = craft.arc.getArcMember %}
{% set courseScore = craft.arc.getMemberQuizScore(entry.id) %}
{% set parentCategory = entry.courseCategory.orderBy('level ASC').one() %}
{% set childCategory = entry.courseCategory.orderBy('level DESC').one() %}
{% set nextCourse = null %}

{# Set Breadcrumb #}

{% set breadcrumb = [
	{ slug: 'members' },
	{ slug: 'academy' },
	{ label: entry.title, url: craft.app.request.absoluteUrl }
] %}

{# Find next course in category order #}

{% set foundThisCourse = false %}
{% if parentCategory != null %}
	{% for cat in parentCategory.children.all() %}
		{% if nextCourse == null %}
			{% set courses = craft.entries.section('courses').relatedTo(cat) %}
			{% for course in courses.all() %}
				{% if nextCourse == null %}
					{% if foundThisCourse %}
						{% set nextCourse = course %}
					{% elseif course.id == entry.id %}
						{% set foundThisCourse = true %}
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}
{% endif %}

{% if nextCourse == null %}
	{% if parentCategory != null and parentCategory.getNextSibling() != null %}
		{% for cat in parentCategory.getNextSibling().children.all() %}
			{% if nextCourse == null %}
				{% set courses = craft.entries.section('courses').relatedTo(cat) %}
				{% for course in courses.all() %}
					{% set nextCourse = course %}
				{% endfor %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endif %}

{% block main %}
	{#<h1>{{ nextCourse == null ? 'null nextCourse' : nextCourse.slug }} {{ parentCategory .getNextSibling() == null }}</h1>#}
	
	<div id="mobile-course-menu-trigger">
		<a href="/" onclick="document.getElementById('course-categories').classList.toggle('show'); return false;">View all courses in this category</a>
	</div>

	<div class="sidebar-layout">

		<section>

			<h3>{{ entry.title }}</h3>

			{% if entry.instructions | trim | length %}
				<div class="instructions">
					{{ entry.instructions }}
				</div>
			{% endif %}	

			{% if entry.videoEmbedCode | trim | length %}
				{#% set videoId = entry.videoEmbedCode | split('https://embed.vidello.com/5347/') %}
				{% if videoId | length >  1 %}
					{% set videoId = videoId[1] | split('/video/splash.jpg') %}
					{% if videoId | length >  1 %}
						{% set videoId = (videoId[0] | split('/video/splash.jpg'))[0] %}
					{% endif %}
				{% endif %#}
				{#% set embedCode = '<div id="llo_MYARCVIDEOID" style="position:relative;padding-bottom:3px;"><iframe id="llo_MYARCVIDEOID" src="//embed.vidello.com/5347/MYARCVIDEOID/player.html" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;border:none;"></iframe><div style="padding-top:56.25%;"></div></div><script type="application/ld+json">{"@context": "http://schema.org","@type": "VideoObject","name": "herovideo","description": "This video contains herovideo","thumbnailUrl": "https://embed.vidello.com/5347/MYARCVIDEOID/video/splash.jpg","uploadDate": "2022-03-14T03:12:47.000Z","duration": "PT1M16S"}</script>' | replace('MYARCVIDEOID', videoId) %}
				<div class="video-container">
					{{ embedCode | raw }}
				</div>#}
				<div class="video-container">
					{{ entry.videoEmbedCode | raw }}
				</div>
			{% endif %}

			{% if entry.quizModule.count %}
				<form class="quiz show arc-form" method="post" action="/members/save-grade" data-submit="ajax">
					<input name="CRAFT_CSRF_TOKEN" type="hidden" value="{{ craft.app.request.csrfToken }}">
					<input id="quizEntryId" name="quizEntryId" type="hidden" value="{{ entry.id }}">
					<input id="quizAnswers" name="quizAnswers" type="hidden" value="">
					<input id="discordUsername" name="discordUsername" type="hidden" value="{{ arcMember.discordUsername }}">
					<input id="discordEmail" name="discordEmail" type="hidden" value="{{ arcMember.discordEmail }}">
					<input id="rootCategoryId" name="rootCategoryId" type="hidden" value="{{ parentCategory != null ? parentCategory.id : '0' }}">
					<h4>Quiz</h4>
					{% if courseScore > 0 %}
						
					{% endif %}
					<ul>
						{% for question in entry.quizModule.all() %}
							{% set questionId = question.id %}
							<li>
								<h5>{{ loop.index }}. {{ question.question }}</h5>
								<ul>
									{% for answer in question.answers %}
										<li>
											<input id="question-{{ questionId }}-answer-{{ loop.index }}" type="radio" name="questions[{{ questionId }}]" data-validation="required" value="{{ loop.index }}">
											<label for="question-{{ questionId }}-answer-{{ loop.index }}">{{ answer.answer }}</label>
										</li>
									{% endfor %}
								</ul>
							</li>
						{% endfor %}
					</ul>
					<div>
						<button class="btn" type="submit">Submit</button>
						<label class="error validation">Answer all questions to continue</label>
						<label class="error saving">Unable to submit at this time, please try again later.</label>
					</div>
				</form>

				<div class="quiz-complete">
					<h4>Course Complete!</h4>
					<p id="quiz-results"></p>
					<div>
						<a style="margin-bottom: 30px;" class="btn repeat-course" href="/">Take this course again</a>
						{% if nextCourse == null %}
							<a style="margin-bottom: 30px;" class="btn next-course" href="/members/academy">Return to the Academy</a>
						{% else %}
							<a style="margin-bottom: 30px;" class="btn next-course" href="{{ nextCourse.url() }}">Continue to the next course</a>
							<div>
								<a href="/members/academy">Return to the Academy >></a>
							</div>
						{% endif %}
					</div>
				</div>
			{% endif %}

		</section>

		<aside id="course-categories">
			
			{% if parentCategory != null %}

				<h4>{{ parentCategory.title }}</h4>

				<ol>
					{% for cat in parentCategory.children.all() %}
						<li{% if cat.slug == childCategory.slug %} class="active"{% endif %}>
							{% set courses = craft.entries.section('courses').relatedTo(cat) %}
							<span>{{ cat.title }}</span>
							{% if courses.count() %}
								<ul>
									{% for course in courses.all() %}
										{% set score = craft.arc.getMemberQuizScore(course.id) %}
										<li{% if course.id == entry.id %} class="active"{% endif %}>
											<a href="{{ course.url }}">
												{% include '_svgs/icon' with { type: (score > 69 ? 'check' : 'play' ) } %}
												<span>{{ course.title }}</span>
											</a>
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
					{% endfor %}
				</ol>
			{% endif %}

		</aside>

	</div>
{% endblock %}


































