<div class="centered-column">
	<h6>Discord Server <span class="dark-gray-text">Connected</span></h6>
	<h3 style="margin-bottom: 0">{{ entry.discordHeadlineLoggedIn | replace('{{USERNAME}}', arcMember.discordUsername) }}</h3>
	<p>
		{{ entry.discordDisclaimerLoggedIn }}
	</p>
	<div class="info-cards">
		<div class="two-col">
			<a class="col" href="/members/resources">
					<div class="content">
						<h6>Resources</h6>
						<div class="resources-icon icon">
							{% include "_svgs/icon" with { type: "resource" } %}
						</div>
						<div class="text-content">{{ entry.description1 }}</div>
					</div>
			</a>
			<a class="col" href="/members/academy">
				<div class="content">
					<h6>Academy</h6>
					<div class="courses-icon icon">
						{% include "_svgs/icon" with { type: "academy" } %}
					</div>
					<div class="text-content">{{ entry.description2 }}</div>
				</div>
			</a>
			<br style="clear:both;">
		</div>
	</div>
</div>