{% macro ctaButton(btnText, btnEntry, btnUrl) %}
	{% if btnText | length and (btnEntry.count or btnUrl | length) %}
		<div class="cta-button">
			{% if btnEntry.count %}
            	<a class="btn" href="{{ btnEntry.one().url }}">{{ btnText }}</a>
            {% elseif btnUrl | length %}
            	<a class="btn" target="_blank" href="{{ btnUrl }}">{{ btnText }}</a>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro sectionHeadings(subheading, headline) %}
	{% if subheading | length %}
		<h6>{{ subheading }}</h6>
	{% endif %}
	{% if headline | length %}
		<h3>{{ headline }}</h3>
	{% endif %}
{% endmacro %}

{% for module in entry.pageModule.all() %}

	{% switch module.type %}

		{% case "richText" %}

			<section class="rich-text">
				{{ _self.sectionHeadings(module.subheading, module.headline) }}
				{{ module.richText }}
				{{ _self.ctaButton(module.buttonText, module.buttonLink, module.buttonUrl) }}
			</section>

		{% case "teamMembers" %}

			<section class="team-members">
				{{ _self.sectionHeadings(module.subheading, module.headline) }}
				<div class="four-col">
					{% for member in module.users.status(null) %}
						{% set name = member.firstName %}
						{% if member.lastName | trim | length > 0 %}
							{% set name = name ~ member.lastName %}
						{% endif %}
						{% if name | trim | length == 0 %}
							{% set name = member.username %}
						{% endif %}
						<div class="col">
							{% if member.photo | length %}
								{% if member.links | length %}
									<a href="{{ member.links[0].url }}" class="prof-pic" title="{{ name }}">
										<img src="{{ member.photo.url }}" alt="{{ name }}">
									</a>
								{% else %}
									<img src="{{ member.photo.url }}" alt="{{ name }}">
								{% endif %}
							{% endif %}
							<h4>{{ name }}</h4>
							{% if member.briefDescription | length %}
								<p>{{ member.briefDescription }}</p>
							{% endif %}
							{% if member.links | length %}
								<ul class="links">
									{% for link in member.links %}
										<li>
											<a href="{{ link.url }}" target="_blank">
												{% include "_svgs/icon" with { type: link.linkType } %}
											</a>
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>
					{% endfor %}
				</div>
				<br style="clear:both;">
			</section>

		{% case "imageBlocks" %}

			<section>
				{{ _self.sectionHeadings(module.subheading, module.headline) }}

				<div class="three-col">
					{% for row in module.row %}
						{% set rowHref = '' %}
						{% set rowTarget = '' %}
						{% if row.entryLink.count %}
							{% set rowHref = 'href=' ~ row.entryLink.one().url %}
						{% elseif row.entryUrl | length %}
							{% set rowHref = 'href=' ~ row.entryUrl %}
							{% set rowTarget = ' target="_blank"' %}
						{% endif %}

			            <a class="col" style="background-image:url('{{ row.image.one().url('zPattern') }}')"{{ rowHref }}{{ rowTarget }}>
			                <div class="content">
			                    <h6>{{ row.heading }}</h6>
			                    <div class="text-content">{{ row.text }}</div>
			                </div>
			            </a>
		            {% endfor %}
		            <br style="clear:both;">
		        </div>
			</section>

		{% case "zPattern" %}

			<section>
				{{ _self.sectionHeadings(module.subheading, module.headline) }}

				{% for row in module.row %}
					<div class="z-pattern">
						{% if loop.index is even %}
							<div class="column image-column">
				                <img src="{{ row.image.one().url('zPattern') }}" alt="{{ row.headline }}" title="{{ row.headline }}">
				            </div>
				       	{% endif %}

						 <div class="column text-column">
						 	{% if row.subheading %}
			                	<h6>{{ row.subheading }}</h6>
			                {% endif %}
			                <h3>{{ row.headline }}</h3>
			                {% if row.text %}
			                	<p>{{ row.text }}</p>
			                {% endif %}
			                {{ _self.ctaButton(row.buttonText, row.buttonLink, row.buttonUrl) }}
			            </div>
			            
			            {% if loop.index is odd %}
							<div class="column image-column">
				                <img src="{{ row.image.one().url('zPattern') }}" alt="{{ row.headline }}" title="{{ row.headline }}">
				            </div>
				       	{% endif %}
					</div>
				{% endfor %}
			</section>

		{% case "testimonials" %}

			<section style="overflow:hidden;">
				{{ _self.sectionHeadings(module.subheading, module.headline) }}

				<div class="testimonials">

					{% for test in module.testimonial %}

						 <blockquote{% if loop.index == 1 %} class="active"{% endif %}{% if test.citeUrl | length %} cite="{{ test.citeUrl }}"{% endif %}{% if test.backgroundColor | length %} style="background-color:{{ test.backgroundColor }}"{% endif %}>
						 	{% if test.screenshot.count %}
						 		<img src="{{ test.screenshot.one().url }}" alt="{{ test.author }}">
						 	{% elseif test.quote | length %}
						 		<q>
							 		{{ test.quote }}
							 	</q>
						 		{% if test.author | length %}
						 			<cite>{{ test.author }}</cite>
						 		{% endif %}
						 	{% endif %}
						 </blockquote>

					{% endfor %}

					<a href="/" class="prev">
						{% include "_svgs/icon" with { type: "left" } %}
					</a>
					<a href="/" class="next">
						{% include "_svgs/icon" with { type: "right" } %}
					</a>

				</div>

			</section>

		{% case "faq" %}

			<section>
				{{ _self.sectionHeadings(module.subheading, module.headline) }}

				<dl class="faq">
					{% for faq in module.questions %}
						<dt>
							<label for="faq-{{ loop.index }}">
								<span>{{ faq.question }}</span>
								{% include "_svgs/icon" with {type: "plus"} %}
							</label>
  						</dt>
  						<input type="checkbox" name="faq-check" id="faq-{{ loop.index }}">
  						<dd>{{ faq.answer }}</dd>
					{% endfor %}
				</dl>

			</section>

	{% endswitch %}

{% endfor %}