{% extends "_layout" %}

{% block styles %}
	<style type="text/css">
		html {
			scroll-behavior: smooth;
		}
	</style>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		window.onhashchange = function() {
			  window.history.replaceState(null, null, window.location.pathname);
		};
	</script>
{% endblock %}

{% block main %}

	{% if entry.blogTopics.count %}
		<ul class="blog-topics">
			{% for topic in entry.blogTopics.all() %}
				<li>
					<a href="/blog?topic={{ topic.slug }}">{{ topic.title }}</a>
					{# <span>{{ topic.title }}</span> #}
				</li>
			{% endfor %}
		</ul>
	{% endif %}

	{% for module in entry.blogModule.all() %}
		{% if loop.first %}
			{% set sectionClass = 'first-section' %}
		{% else %}
			{% set sectionClass = loop.last ? 'last-section' : 'middle-section' %}
		{% endif %}
		<div id="section-{{ module.id }}" class="toc-section"></div>
		<section class="{{ sectionClass }}">
			{% if loop.first and entry.tableOfContents | length %}
				<div class="table-of-contents">
					<h5>Table of Contents</h5>
					<ul>
						{% for toc in entry.tableOfContents %}
							<li>
								<a href="#{{ toc.sectionId }}">{{ toc.label }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			{% switch module.type %}

				{% case "image" %}

					<figure>
						<img src="{{ module.image.one.url('blogContentImage') }}">
						{% if module.caption | length %}
							<figcaption>{{ module.caption }}</figcaption>
						{% endif %}
					</figure>

				{% case "richText" %}

					{% if module.sectionTitle %}
						<h2>{{ module.sectionTitle }}</h2>
					{% endif %}
					{% if module.richText %}
						{{ module.richText }}
					{% endif %}

				{% case "youtubeVideo" %}

					<div class="video-container">
						<iframe src="https://www.youtube.com/embed/{{ module.youtubeVideoId }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>

			{% endswitch %}
		</section>
	{% endfor %}




{% endblock %}