{% set postsPerPage = 8 %}

{#% paginate craft.entries.section('blog').limit(postsPerPage).orderBy('postDate DESC') as pageInfo, articles %#}
{# {% paginate craft.entries.section('blog').orderBy('postDate DESC') as pageInfo, articles %} #}

{% set categorySlug = craft.app.request.getQueryParam('topic') %}
{% if categorySlug %}
	{% paginate craft.entries.section('blog').search('blogTopics:"' ~ categorySlug ~ '"').orderBy('postDate DESC').limit(postsPerPage) as pageInfo, articles %}
{% else %}
	{% paginate craft.entries.section('blog').orderBy('postDate DESC').limit(postsPerPage) as pageInfo, articles %}
	<ul class="blog-topics">
		{% set topics = craft.categories.group('blogTopics') %}
		{% for topic in topics %}
			{% if craft.entries.section('blog').search('blogTopics:"' ~ topic.slug ~ '"').count() > 3 %}
				<li><a href="/blog?topic={{ topic.slug }}">{{ topic.title }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
{% endif %}

<section class="blog-posts">

	{% for blog in articles %}
		<article>
			<a class="blog-content" href="{{ blog.url }}">
				<div class="blog-image">
					{% if blog.heroImage.count %}
						<img src="{{ blog.heroImage.one().url('blogList') }}" title="{{ blog.headline }}" alt="{{ blog.headline }}">
					{% endif %}
				</div>
				{% if blog.blogTopics.count %}
					<h6>
						{% for topic in blog.blogTopics.all() %}
							{{ topic.title }}{{ loop.last ? '' : ', ' }}
						{% endfor %}
					</h6>
				{% endif %}
				{% if blog.subheading | length %}
					<h2>{{ blog.subheading }}: {{ blog.headline }}</h2>
				{% else %}
					<h2>{{ blog.headline }}</h2>
				{% endif %}
				{% if blog.writer.count %}
					<address rel="author">
						<img src="{{ blog.writer.one().photo.url }}" alt="{{ blog.writer.one().fullName }}">
						{% apply spaceless %}
							<span>by {{ blog.writer.one().fullName }}</span>
							{% if blog.writer.count > 1 %}
								<span>, updated by {{ blog.writer.nth(1).fullName }}</span>
							{% endif %}
						{% endapply %}
					</address>
				{% endif %}
			</a>
		</article>

	{% endfor %}

	{% if pageInfo.total > postsPerPage %}
		<div class="pagination">
			{% if pageInfo.prevUrl %}
				<a href="{{ pageInfo.prevUrl }}" class="page-arrow prev">
					{% include "_svgs/icon" with { type: 'left' } %}
				</a>
			{% else %}
				<span class="page-arrow prev">
					{% include "_svgs/icon" with { type: 'left' } %}
				</span>
			{% endif %}
			<span>Page {{ pageInfo.currentPage }} of {{ pageInfo.totalPages }}</span>
			{% if pageInfo.nextUrl %}
				<a href="{{ pageInfo.nextUrl }}" class="page-arrow next">
					{% include "_svgs/icon" with { type: 'right' } %}
				</a>
			{% else %}
				<span class="page-arrow next">
					{% include "_svgs/icon" with { type: 'right' } %}
				</span>
			{% endif %}
		</div>
	{% endif %}

</section>