{% set resourceVersion = '1.36' %}

{#% set isDev = true %#} {# Leave true. What exactly is this for again??? #}

{% if craft.app.request.segments | last == '404' %}
    {% set entry = craft.entries.section('pages').slug('404-not-found').one() %}
{% endif %}

{#% if entry is not defined %}
    {% redirect 404 %}
{% elseif entry.slug == 'dev' %}
    {% set isDev = true %}
{% endif %#}

{#% if craft.app.request.segments | length == 0 %}
    {% redirect 'coming-soon' %}
{% endif %#}

{% set entryTitle = title is defined and title | length > 0 ? title : '' %}

{% set pages = craft.entries.section('pages') %}
{% set about = craft.entries.section('pages').slug('about') %}
{% set contactUrl = about.count ? about.one().url ~ '#contact-us' : '' %}
{% set loginUrl = '/members' %} {# discord.discordRedirectUrl %#}
{% set signupUrl = 'https://upgrade.chat/926998325213925427' %}

{% if entry is defined %}
    {% set showHeaderVideo = entry.showHeaderBanner and not craft.app.request.isMobileBrowser %}
    {% set headerVideoPoster = '/assets/images/arc-video-poster.png' %}
{% else %}
    {% set showHeaderVideo = false %}
    {% set headerVideoPoster = null %}
{% endif %}

{% set homepage = craft.entries.section('pages').slug('homepage') %}
{% if homepage.count == 0 %}
    {% set homepage = craft.entries.section('pages').slug('__home__') %}
{% endif %}

<!DOCTYPE html>
<html lang="en-US" class="theme-night">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="assets/favicons/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
    <link href="{{ url('\/css/site.min.css?v=') }}{{ resourceVersion }}" rel="stylesheet" type="text/css">

    {% if entry is defined %}

        {% set seoTitle = entry.seoTitle | length ? entry.seoTitle : entryTitle %}

        {% if entry.slug == '__home__' or entry.slug == 'homepage' %}
            <title>ARCollective</title>
        {% elseif titleTag is defined %}
            <title>{{ titleTag }} | ARCollective</title>
        {% else %}
            <title>{{ seoTitle }} | ARCollective</title>
        {% endif %}

        <meta property="og:title" content="{{ seoTitle }}">
        <meta property="twitter:title" content="{{ seoTitle }}">

        <meta property="og:type" content="website">
        <meta property="og:url" content="https://arcollective.info">
        <meta name="twitter:card" content="summary" />

        {% if entry.seoDescription | length %}
            <meta name="description" content="{{ entry.seoDescription }}">                
            <meta property="og:description" content="{{ entry.seoDescription }}">
            <meta property="twitter:description" content="{{ entry.seoDescription }}">
        {% endif %}

        {% if entry.seoImage is not null and entry.seoImage.count %}
            {% set ogImgUrl = (siteUrl | slice(siteUrl | length - 1, 1) == '/') ? (siteUrl | slice(0, siteUrl | length - 1)) : siteUrl %}
            {% set ogImgUrl = ogImgUrl ~ entry.seoImage.one().url('ogImage') %}
            <meta property="og:image" content="{{ ogImgUrl }}">
            <meta name="twitter:image" content="{{ ogImgUrl }}">
            <meta name="twitter:image:alt" content="{{ ogImgUrl }}">
        {% endif %}

    {% else %}
        <title>ARCollective</title>
    {% endif %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H2GC77L25P"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-H2GC77L25P');
    </script>

    {% block styles %}{% endblock %}

</head>
<body{% if entry is defined %} id="{{ entry.slug }}" class="{{ entry.section.handle }}"{% endif %}>
    {% set showHero = (entry.heroImage is not null) and entry.heroImage.count %}

    {% if showHeaderVideo %}

        <header class="video-header">
            <a class="logo" href="{% if homepage.count %}{{ homepage.one().url }}{% else %}/{% endif %}">
                {% include '/_svgs/logo' with { layout: "wide", color: "#f1f3f4" } %}
            </a>
            {% include '/_includes/menus' %}
            <a id="scroll-down" href="/" class="scroll-down" onclick="this.scrollIntoView(); this.remove(); return false;">
                <span>Scroll Down</span>
                {% include "_svgs/icon" with { type: "down" } %}
            </a>
            <div class="cover">{# Gradient cover over video #}</div>
            <video id="hero-vid" loop="1" autoplay="1" muted="1" class="fullscreen-video desktop-header" poster="{{ headerVideoPoster }}">
                <source type="video/mp4" src="/assets/videos/AR1_Final_Comp.mp4">
            </video>
        </header>

    {% else %}

        <div class="site-container">

            <header{% if showHero %} class="hero-header"{% endif %}>
                <div class="header-content">
                    <a class="logo day" href="{% if homepage.count %}{{ homepage.one().url }}{% else %}/{% endif %}">
                        {% include '/_svgs/logo' with { layout: "wide"} %}
                    </a>
                    <a class="logo night" href="{% if homepage.count %}{{ homepage.one().url }}{% else %}/{% endif %}">
                        {% include '/_svgs/logo' with { layout: "wide", color: "#f1f3f4" } %}
                    </a>

                    {% if entry is defined %}
                        {% if showHero %}
                            <div class="hero">
                                <div class="header-image" style="background-image:url({{ entry.heroImage.one().url('hero') }});"></div>
                                {% if entry.subheading | length or entry.headline | length %}
                                    <div class="header-text" style="background-color: rgba(0,0,0,{{ entry.heroOpacity }}%);">
                                        {% if entry.subheading | length %}
                                            <h6>{{ entry.subheading }}</h6>
                                        {% endif %}
                                        {% if entry.headline | length %}
                                            <h1>{{ entry.headline }}</h1>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        {% elseif entry.subheading | length or entry.headline | length %}
                            <div class="header-text">
                                {% if entry.subheading | length %}
                                    <h6>{{ entry.subheading }}</h6>
                                {% endif %}
                                {% if entryTitle is defined and entryTitle | length %}
                                    <h1>{{ entryTitle }}</h1>
                                {% elseif entry.headline | length %}
                                    <h1>{{ entry.headline }}</h1>
                                {% endif %}
                            </div>
                        {% elseif entryTitle is defined and entryTitle | length %}
                            <div class="header-text">
                                <h1>{{ entryTitle }}</h1>
                            </div>
                        {% elseif headline is defined %}
                            <div class="header-text">
                                <h1>{{ headline }}</h1>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                
                {% include '/_includes/menus' %}

                {% if breadcrumb is defined %}
                    <div class="breadcrumb">
                        {% for crumb in breadcrumb %}
                            {% if crumb.slug is defined%}
                                {% switch crumb.slug %}
                                    {% case 'members' %}
                                        {% set crumbUrl = '/members' %}
                                        {% set crumbLabel = 'Member Portal' %}
                                    {% case 'resources' %}
                                        {% set crumbUrl = '/members/resources' %}
                                        {% set crumbLabel = 'Resources' %}
                                    {% case 'academy' %}
                                        {% set crumbUrl = '/members/academy' %}
                                        {% set crumbLabel = 'Academy' %}
                                {% endswitch %}
                            {% else %}
                                {% set crumbUrl = crumb.url %}
                                {% set crumbLabel = crumb.label %}
                            {% endif %}
                            {% if loop.index < breadcrumb | length %}
                                <a href="{{ crumbUrl }}">{{ crumbLabel }}</a>
                                <span>></span>
                            {% else %}
                                <a class="active" href="{{ crumbUrl }}">{{ crumbLabel }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </header>
        </div>

    {% endif %}

    <div class="site-container">

        {% block main %}
            <p>If you see me, you haven’t set your <code>{% verbatim %}{% block main %}…{% endblock %}{% endverbatim %}</code> yet.</p>
        {% endblock %}

        {% cache globally using key "footer" %}

            {% set terms = craft.entries.section('pages').slug('terms-and-conditions') %}
            {% set privacy = craft.entries.section('pages').slug('privacy-policy') %}

            <footer>
                <a class="logo" href="{% if homepage.count %}{{ homepage.one().url }}{% else %}/{% endif %}">
                    {% include '/_svgs/logo' with { color: "#f1f3f4" } %}
                </a>
                <ul>
                    {% nav page in pages.all() %}
                        {% if page.showInMenu %}
                            <li>
                                <a href="{{ page.url }}">{{ 'home' in page.title | lower ? 'Home' : page.title }}</a>
                            </li>
                        {% endif %}
                    {% endnav %}
                    {#% if contactUrl | length > 0 %}
                        <li>
                            <a href="{{ contactUrl }}">Contact Us</a>
                        </li>
                    {% endif %#}
                    {#% if isDev %#}
                         
                            {% if craft.arc.isUserLoggedIn %}
                                <li>
                                    <a href="/members">Member Portal</a>
                                </li>
                                <li>
                                    <a href="/members/logout">Logout</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ loginUrl }}">Member Login</a>
                                <li>
                            {% endif %}
                        
                    {#% endif %#}
                </ul>
                <div class="copyright">
                    ©{{ now | date("Y") }} ARCollective. All Rights Reserved
                    {% if terms.count %}
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="{{ terms.one().url }}">Terms and Conditions</a>
                    {% endif %}
                    {% if privacy.count %}
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="{{ privacy.one().url }}">Privacy Policy</a>
                    {% endif %}
                </div>
                <div class="disclaimer">
                    {{ footer.instructions }}
                </div>
                <div style="margin: 45px 0 0 0;">
                    <a href="https://realitygems.com" target="_blank" onmouseover="this.style.opacity='1'" onmouseout="this.style.opacity='0.8'" style="opacity:0.8;font-size:0.8rem;font-weight:bold;color:#2ccada !important;transition:.3s ease opacity;margin:0 12px 0 0;vertical-align:middle;">
                        Built By
                        <img style="width:24px;vertical-align:text-bottom;" src="/assets/images/rg-logo.png" title="Reality Gems">
                    </a>
                    {% include '_includes/theme-switch' %}
                </div>
            </footer>

        {% endcache %}

    </div>

    <!--BEGIN JAVASCRIPT-->
    <script defer src="{{ url('\/js/site.js?v=') }}{{ resourceVersion }}"></script>
    {% block scripts %}{% endblock %}
    <!--END JAVASCRIPT-->

</body>
</html>
