{% set resourceVersion = '1.01' %}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>ARcollective</title>
    <link rel="shortcut icon" href="assets/favicons/favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
    <link href="{{ url('\/css/site.min.css?v=') }}{{ resourceVersion }}" rel="stylesheet" type="text/css">

    {#
    <meta name="description" content="ARcollective - Our website is coming soon.">                
    <meta property="og:title" content="ARcollective">
    <meta property="twitter:title" content="ARcollective">
    <meta property="og:description" content="ARcollective - Our website is coming soon.">
    <meta property="twitter:description" content="ARcollective - Our website is coming soon.">
    <meta property="og:image" content="https://arcollective.info/assets/images/Logo_WhiteColor_JPG.jpg">
    <meta name="twitter:image" content="https://arcollective.info/assets/images/Logo_WhiteColor_JPG.jpg">
    <meta name="twitter:image:alt" content="https://arcollective.info/assets/images/Logo_WhiteColor_JPG.jpg">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://arcollective.info">
    <meta name="twitter:card" content="summary" />
    #}

    {% block styles %}{% endblock %}

</head>
<body{% if entry is defined %} id="{{ entry.slug }}" class="{{ entry.section.handle }}"{% endif %}>
    
    <div class="site-container">

        <header>
            <div class="header-content">
                <a class="logo" href="/">
                    {% include '/_svgs/logo' %}
                </a>
                <h6>Ut enim ad minim veniam quis nostrud</h6>
                <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/">About Us</a>
                    </li>
                    <li>
                        <a href="/">Memberhsip</a>
                    </li>
                    <li>
                        <a href="/">FAQ</a>
                    </li>
                    <li>
                        <a href="/" class="btn">Member Login</a>
                    </li>
                </ul>
            </nav>
        </header>

        {% block main %}
            <p>If you see me, you haven’t set your <code>{% verbatim %}{% block main %}…{% endblock %}{% endverbatim %}</code> yet.</p>
        {% endblock %}

    </div>

    <!--BEGIN JAVASCRIPT-->
    <script defer src="{{ url('\/js/site.js?v=') }}{{ resourceVersion }}"></script>
    {% block scripts %}{% endblock %}
    <!--END JAVASCRIPT-->

</body>
</html>
