{% set resourceVersion = '1.08' %}

{% if craft.app.request.segments | length == 0 %}
    {% redirect 'coming-soon' %}
{% endif %}

{% set pages = craft.entries.section('pages') %}

{% set homepage = craft.entries.section('pages').slug('homepage') %}
{% if homepage.count == 0 %}
    {% set homepage = craft.entries.section('pages').slug('__home__') %}
{% endif %}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="assets/favicons/favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
    <link href="{{ url('\/css/site.min.css?v=') }}{{ resourceVersion }}" rel="stylesheet" type="text/css">

    {% if entry is defined %}

        {% if entry.slug == '__home__' or entry.slug == 'homepage' %}
            <title>ARcollective</title>
        {% else %}
            <title>{{ entry.title }} | ARcollective</title>
        {% endif %}

        {% set seoTitle = entry.seoTitle | length ? entry.seoTitle : entry.title %}
        <meta property="og:title" content="{{ seoTitle }}">
        <meta property="twitter:title" content="{{ seoTitle }}">

        <meta property="og:type" content="website">
        <meta property="og:url" content="https://arcollective.info">
        <meta name="twitter:card" content="summary" />

        {% if entry.seoDescription | length %}
            <meta name="description" content="{{ entry.seoDescription }}">                
            <meta property="og:description" content="{{ entry.seoDescription }}">
            <meta property="twitter:description" content="{{ entry.seoDescription }}">
        {% endif %}

        {% if entry.seoImage.count %}
            <meta property="og:image" content="{{ entry.seoImage.one().url }}">
            <meta name="twitter:image" content="{{ entry.seoImage.one().url }}">
            <meta name="twitter:image:alt" content="{{ entry.seoImage.one().url }}">
        {% endif %}

    {% else %}
        <title>ARcollective</title>
    {% endif %}

    {% block styles %}{% endblock %}

    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer",
            {
                title:{
                    text: "Basic Candle Stick Chart"
                },
                zoomEnabled: true,
                axisY: {
                    includeZero:false,
                    title: "",
                    prefix: " "
                },
                axisX: {
                    interval:2,
                    intervalType: "",
                    valueFormatString: "",
                    labelAngle: -45
                },
                data: [
                {
                    type: "candlestick",
                    dataPoints: [
                        {x: new Date(2012,01,01),y:[5198, 5629, 5159, 5385]},
                        {x: new Date(2012,02,01),y:[5366, 5499, 5135, 5295]},
                        {x: new Date(2012,03,01),y:[5296, 5378, 5154, 5248]},
                        {x: new Date(2012,04,01),y:[5254, 5279, 4788, 4924]},
                        {x: new Date(2012,05,01),y:[4910, 5286, 4770, 5278]},
                        {x: new Date(2012,06,01),y:[5283, 5348, 5032, 5229]},
                        {x: new Date(2012,07,01),y:[5220, 5448, 5164, 5258]},
                        {x: new Date(2012,08,01),y:[5276, 5735, 5215, 5703]},
                        {x: new Date(2012,09,01),y:[5704, 5815, 4888, 5619]},
                        {x: new Date(2012,10,01),y:[5609, 5885, 5548, 5879]},
                        {x: new Date(2012,11,01),y:[5878, 5965, 5823, 5905]},
                        {x: new Date(2013,00,01),y:[5937, 6111, 5935, 6034]},
                        {x: new Date(2013,01,01),y:[6040, 6052, 5671, 5693]},
                        {x: new Date(2013,02,01),y:[5702, 5971, 5604, 5682]},
                        {x: new Date(2013,03,01),y:[5697, 5962, 5477, 5930]},
                        {x: new Date(2013,04,01),y:[5911, 6229, 5910, 5985]},
                        {x: new Date(2013,05,01),y:[5997, 6011, 5566, 5842]},
                        {x: new Date(2013,06,01),y:[5834, 6093, 5675, 5742]},
                        {x: new Date(2013,07,01),y:[5776, 5808, 5118, 5471]},
                        {x: new Date(2013,08,01),y:[5480, 6142, 5318, 5735]},
                        {x: new Date(2013,09,01),y:[5756, 6309, 5700, 6299]},
                        {x: new Date(2013,10,01),y:[6289, 6342, 5972, 6176]},
                        {x: new Date(2013,11,01),y:[6171, 6415, 6129, 6304]}
                    ]
                }
                ]
            });
            chart.render();
        }
        </script>

</head>
<body{% if entry is defined %} id="{{ entry.slug }}" class="{{ entry.section.handle }}"{% endif %}>
    {% set showHero = entry.heroImage.count %}
    
    <div class="site-container">

        <header>
            <div class="header-content{% if entry.showHeaderBanner %} video-header{% endif %}{% if showHero %} hero-header{% endif %}">
                <a class="logo" href="{% if homepage.count %}{{ homepage.one().url }}{% else %}/{% endif %}">
                    {% include '/_svgs/logo' with { color: "#061124", class: "logo-svg-dark" } %}
                    {% include '/_svgs/logo' with { color: "#061124", class: "logo-svg-light" } %}
                </a>
                
                {% if entry.showHeroTAEfx %}
                    <div class="candlestick-chart">
                      <div class="bar-graph">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar dark"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar dark"></div>
                        <div class="bar"></div>
                        <div class="bar dark"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar dark"></div>
                        <div class="bar"></div>
                        <div class="bar dark"></div>
                        <div class="bar dark"></div>
                        <div class="bar"></div>
                        <div class="bar dark"></div>
                        <div class="bar"></div>
                      </div>
                    </div>
                {% endif %}

                {% if entry is defined %}
                    {% if entry.showHeaderBanner %}
                        <video id="hero-vid" loop="" autoplay="" muted="" class="fullscreen-video desktop-header">
                            <source type="video/mp4" src="https://player.vimeo.com/external/471055045.hd.mp4?s=105c2dac19b5181a72fb0a5eca63989b5f656d8e&amp;profile_id=175">
                        </video>
                    {% elseif showHero %}
                        <div class="hero">
                            <div class="header-image" style="background-image:url({{ entry.heroImage.one().url('hero') }});"></div>
                            {% if entry.subheading | length or entry.headline | length %}
                                <div class="header-text" style="background-color: rgba(0,0,0,{{ entry.heroOpacity }}%);">
                                    {% if entry.subheading | length %}
                                        <h6>{{ entry.subheading }}</h6>
                                    {% endif %}
                                    {% if entry.headline | length %}
                                        <h1>{{ entry.headline }}</h1>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    {% elseif entry.subheading | length or entry.headline | length %}
                        <div class="header-text">
                            {% if entry.subheading | length %}
                                <h6>{{ entry.subheading }}</h6>
                            {% endif %}
                            {% if entry.headline | length %}
                                <h1>{{ entry.headline }}</h1>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <nav id="main-menu">
                <ul>
                    <li class="mobile-logo">
                        <a href="">{% include '/_svgs/logo' with { layout: "wide", color: "#ffffff"} %}</a>
                    </li>
                    {% nav page in pages %}
                        {% if page.showInMenu %}
                            <li>
                                <a href="{{ page.url }}">{{ page.title }}</a>
                            </li>
                        {% endif %}
                    {% endnav %}
                    <li>
                        <a href="/" class="btn">Member Login</a>
                    </li>
                    <li id="mobile-trigger">
                        <a href="">
                            <svg viewBox="0 0 100 80" width="40" height="50">
                              <rect width="100" height="6"></rect>
                              <rect y="30" width="100" height="6"></rect>
                              <rect y="60" width="100" height="6"></rect>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
            <nav id="mobile-menu">
                <ul>
                    <li>
                        <a href="{% if homepage.count %}{{ homepage.one().url }}{% else %}/{% endif %}">Home</a>
                    </li>
                    {% nav page in pages %}
                        {% if page.showInMenu %}
                            <li>
                                <a href="{{ page.url }}">{{ page.title }}</a>
                            </li>
                        {% endif %}
                    {% endnav %}
                    <li>
                        <a href="{% if homepage.count %}{{ homepage.one().url }}{% else %}/{% endif %}">Member Login</a>
                    </li>
                </ul>
            </nav>
        </header>

        {% block main %}
            <p>If you see me, you haven’t set your <code>{% verbatim %}{% block main %}…{% endblock %}{% endverbatim %}</code> yet.</p>
        {% endblock %}

        <footer>
            <a class="logo" href="{% if homepage.count %}{{ homepage.one().url }}{% else %}/{% endif %}">
                {% include '/_svgs/logo' with { color: "#f1f3f4" } %}
            </a>
            <ul>
                {% nav page in pages %}
                    {% if page.showInMenu %}
                        <li>
                            <a href="{{ page.url }}">{{ page.title }}</a>
                        </li>
                    {% endif %}
                {% endnav %}
                 <li>
                    <a href="/">Member Login</a>
                </li>
            </ul>
            <div class="copyright">
                ©{{ now.year }} ARcollective. All Rights Reserved
            </div>
        </footer>

    </div>

    <!--BEGIN JAVASCRIPT-->
    <script defer src="{{ url('\/js/site.js?v=') }}{{ resourceVersion }}"></script>
    {% block scripts %}{% endblock %}
    <!--END JAVASCRIPT-->

</body>
</html>
