{% set resourceVersion = '1.12' %}

{% set isDev = true %}

{% if entry is not defined %}
    {% redirect 404 %}
{% elseif entry.slug == 'dev' %}
    {% set isDev = true %}
{% endif %}

{% if craft.app.request.segments | length == 0 %}
    {% redirect 'coming-soon' %}
{% endif %}

{% set pages = craft.entries.section('pages') %}
{% set about = craft.entries.section('pages').slug('about') %}
{% set contactUrl = about.count ? about.one().url ~ '#contact-us' : '' %}
{% set loginUrl = '/members' %} {# discord.discordRedirectUrl %#}
{% set signupUrl = 'https://upgrade.chat/926998325213925427' %}

{% set homepage = craft.entries.section('pages').slug('homepage') %}
{% if homepage.count == 0 %}
    {% set homepage = craft.entries.section('pages').slug('__home__') %}
{% endif %}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="assets/favicons/favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
    <link href="{{ url('\/css/site.min.css?v=') }}{{ resourceVersion }}" rel="stylesheet" type="text/css">

    {% if entry is defined %}

        {% if entry.slug == '__home__' or entry.slug == 'homepage' %}
            <title>ARcollective</title>
        {% else %}
            <title>{{ entry.title }} | ARcollective</title>
        {% endif %}

        {% set seoTitle = entry.seoTitle | length ? entry.seoTitle : entry.title %}
        <meta property="og:title" content="{{ seoTitle }}">
        <meta property="twitter:title" content="{{ seoTitle }}">

        <meta property="og:type" content="website">
        <meta property="og:url" content="https://arcollective.info">
        <meta name="twitter:card" content="summary" />

        {% if entry.seoDescription | length %}
            <meta name="description" content="{{ entry.seoDescription }}">                
            <meta property="og:description" content="{{ entry.seoDescription }}">
            <meta property="twitter:description" content="{{ entry.seoDescription }}">
        {% endif %}

        {% if entry.seoImage is not null and entry.seoImage.count %}
            <meta property="og:image" content="{{ entry.seoImage.one().url }}">
            <meta name="twitter:image" content="{{ entry.seoImage.one().url }}">
            <meta name="twitter:image:alt" content="{{ entry.seoImage.one().url }}">
        {% endif %}

    {% else %}
        <title>ARcollective</title>
    {% endif %}

    {% block styles %}{% endblock %}

</head>
<body{% if entry is defined %} id="{{ entry.slug }}" class="{{ entry.section.handle }}"{% endif %}>
    {% set showHero = (entry.heroImage is not null) and entry.heroImage.count %}
    
    <div class="site-container">

        <header>
            <div class="header-content{% if entry.showHeaderBanner %} video-header{% endif %}{% if showHero %} hero-header{% endif %}">
                <a class="logo" href="{% if homepage.count %}{{ homepage.one().url }}{% else %}/{% endif %}">
                    {% include '/_svgs/logo' with { color: "#061124", class: "logo-svg-dark" } %}
                    {% include '/_svgs/logo' with { color: "#061124", class: "logo-svg-light" } %}
                </a>
                
                {% if entry.showHeroTAEfx %}
                    <div class="candlestick-chart">
                      <div class="bar-graph">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar dark"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar dark"></div>
                        <div class="bar"></div>
                        <div class="bar dark"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar dark"></div>
                        <div class="bar"></div>
                        <div class="bar dark"></div>
                        <div class="bar dark"></div>
                        <div class="bar"></div>
                        <div class="bar dark"></div>
                        <div class="bar"></div>
                      </div>
                    </div>
                {% endif %}

                {% if entry is defined %}
                    {% if entry.showHeaderBanner %}
                        <video id="hero-vid" loop="" autoplay="" muted="" class="fullscreen-video desktop-header">
                            <source type="video/mp4" src="https://player.vimeo.com/external/471055045.hd.mp4?s=105c2dac19b5181a72fb0a5eca63989b5f656d8e&amp;profile_id=175">
                        </video>
                    {% elseif showHero %}
                        <div class="hero">
                            <div class="header-image" style="background-image:url({{ entry.heroImage.one().url('hero') }});"></div>
                            {% if entry.subheading | length or entry.headline | length %}
                                <div class="header-text" style="background-color: rgba(0,0,0,{{ entry.heroOpacity }}%);">
                                    {% if entry.subheading | length %}
                                        <h6>{{ entry.subheading }}</h6>
                                    {% endif %}
                                    {% if entry.headline | length %}
                                        <h1>{{ entry.headline }}</h1>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    {% elseif entry.subheading | length or entry.headline | length %}
                        <div class="header-text">
                            {% if entry.subheading | length %}
                                <h6>{{ entry.subheading }}</h6>
                            {% endif %}
                            {% if entry.headline | length %}
                                <h1>{{ entry.headline }}</h1>
                            {% endif %}
                        </div>
                    {% elseif headline is defined %}
                        <div class="header-text">
                            <h1>{{ headline }}</h1>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <nav id="main-menu">
                <ul>
                    <li class="mobile-logo">
                        <a href="">{% include '/_svgs/logo' with { layout: "wide", color: "#ffffff"} %}</a>
                    </li>
                    {% nav page in pages.all() %}
                        {% if page.showInMenu %}
                            <li>
                                <a href="{{ page.url }}">{{ 'home' in page.title | lower ? 'Home' : page.title }}</a>
                            </li>
                        {% endif %}
                    {% endnav %}
                    {% if craft.arc.isUserLoggedIn %}
                        <li>
                            <a href="/members">Academy</a>
                        </li>
                    {% endif %}
                    {% if isDev %}
                        <li>
                            {% if craft.arc.isUserLoggedIn %}
                                <a href="/members/logout" class="btn">Logout</a>
                            {% else %}
                                <a href="{{ loginUrl }}" class="btn">Member Login</a>
                            {% endif %}
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ signupUrl }}" class="btn" target="_blank">Sign Up Today</a>
                        </li>
                    {% endif %}
                    <li id="mobile-trigger">
                        <a href="">
                            <svg viewBox="0 0 100 80" width="40" height="50">
                              <rect width="100" height="6"></rect>
                              <rect y="30" width="100" height="6"></rect>
                              <rect y="60" width="100" height="6"></rect>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
            <nav id="mobile-menu">
                <ul>
                    {#
                    <li>
                        <a href="{% if homepage.count %}{{ homepage.one().url }}{% else %}/{% endif %}">Home</a>
                    </li>
                    #}
                    {% nav page in pages.all() %}
                        {% if page.showInMenu %}
                            <li>
                                <a href="{{ page.url }}">{{ 'home' in page.title | lower ? 'Home' : page.title }}</a>
                            </li>
                        {% endif %}
                    {% endnav %}
                    {% if contactUrl | length > 0 %}
                        <li>
                            <a href="{{ contactUrl }}">Contact Us</a>
                        </li>
                    {% endif %}
                    {% if isDev %}
                        <li>
                            {% if craft.arc.isUserLoggedIn %}
                                <a href="/members/logout">Logout</a>
                            {% else %}
                                <a href="{{ loginUrl }}">Member Login</a>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            </nav>
            {% if entry.section.handle == "courses" %}
                <div class="breadcrumb">
                    <a href="/members">Academy</a>
                    <span>></span>
                    <a href="/members">Courses</a>
                    <span>></span>
                    <a class="active" href="{{ entry.slug }}">{{ entry.title }}</a>
                </div>
            {% endif %}
        </header>

        {% block main %}
            <p>If you see me, you haven’t set your <code>{% verbatim %}{% block main %}…{% endblock %}{% endverbatim %}</code> yet.</p>
        {% endblock %}

        <footer>
            <a class="logo" href="{% if homepage.count %}{{ homepage.one().url }}{% else %}/{% endif %}">
                {% include '/_svgs/logo' with { color: "#f1f3f4" } %}
            </a>
            <ul>
                {% nav page in pages.all() %}
                    {% if page.showInMenu %}
                        <li>
                            <a href="{{ page.url }}">{{ 'home' in page.title | lower ? 'Home' : page.title }}</a>
                        </li>
                    {% endif %}
                {% endnav %}
                {% if contactUrl | length > 0 %}
                    <li>
                        <a href="{{ contactUrl }}">Contact Us</a>
                    </li>
                {% endif %}
                {% if isDev %}
                     <li>
                        {% if craft.arc.isUserLoggedIn %}
                            <a href="/members/logout">Logout</a>
                        {% else %}
                            <a href="{{ loginUrl }}">Member Login</a>
                        {% endif %}
                    </li>
                {% endif %}
            </ul>
            <div class="copyright">
                ©{{ now | date("Y") }} ARCollective. All Rights Reserved
            </div>
        </footer>

    </div>

    <!--BEGIN JAVASCRIPT-->
    <script defer src="{{ url('\/js/site.js?v=') }}{{ resourceVersion }}"></script>
    {% block scripts %}{% endblock %}
    <!--END JAVASCRIPT-->

</body>
</html>
