{% extends "_layout" %}

{% set headline = 'Courses' %}
{% set arcMember = craft.arc.getArcMember %}

{% block main %}
	<section>

		<h3>{{ entry.title }}</h3>

		{% if entry.instructions | trim | length %}
			<div class="instructions">
				{{ entry.instructions }}
			</div>
		{% endif %}		

		{% if entry.youtubeVideoId | trim | length %}
			<div class="video-container">
				<iframe src="https://www.youtube.com/embed/{{ entry.youtubeVideoId }}" title="{{ entry.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		{% endif %}

		{% if entry.quizModule.count %}
			<form class="quiz arc-form" method="post" action="/members/save-grade" data-submit="ajax">
				<input name="CRAFT_CSRF_TOKEN" type="hidden" value="{{ craft.app.request.csrfToken }}">
				<input id="quizEntryId" name="quizEntryId" type="hidden" value="{{ entry.id }}">
				<input id="quizAnswers" name="quizAnswers" type="hidden" value="">
				<input id="discordUsername" name="discordUsername" type="hidden" value="{{ arcMember.discordUsername }}">
				<input id="discordEmail" name="discordEmail" type="hidden" value="{{ arcMember.discordEmail }}">
				<h4>Quiz</h4>
				<ul>
					{% for question in entry.quizModule.all() %}
						{% set questionId = question.id %}
						<li>
							<h5>{{ loop.index }}. {{ question.question }}</h5>
							<ul>
								{% for answer in question.answers %}
									<li>
										<input id="question-{{ questionId }}-answer-{{ loop.index }}" type="radio" name="questions[{{ questionId }}]" data-validation="required" value="{{ loop.index }}">
										<label for="question-{{ questionId }}-answer-{{ loop.index }}">{{ answer.answer }}</label>
									</li>
								{% endfor %}
							</ul>
						</li>
					{% endfor %}
				</ul>
				<div>
					<button class="btn" type="submit">Submit</button>
					<label class="error validation">Answer all questions to continue</label>
					<label class="error saving">Unable to submit at this time, please try again later.</label>
				</div>
			</forms>
		{% endif %}

	</section>
{% endblock %}